* {
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
}

.social-icon {
  font-size: 1.4rem;
}

.container-xl {
  max-width: 1350px !important;
}

.bg-red {
  background-color: #f72210 !important;
}

.navbar-middle {
  width: 140px;
  padding: 0.2rem;
  color: white;
}
.navbar-middle-lg {
  width: 400px;
  padding: 0.2rem;
  color: white;
  left: 0;
  right: 0;
}

.navbar-middle > svg,
.navbar-middle-lg > svg {
  fill: white;
}

.text-danger {
  color: #f72210;
}

.btn-red {
  font-weight: bold !important;
  background-color: #f72210 !important;
}

.right-0 {
  margin: 0;
  right: 0;
  height: 100%;
  padding: 1.6rem;
}

.fa-bars {
  font-size: 1.6rem;
}

.vs-container {
  width: 95px;
  height: 95px;
  flex-shrink: 0;
}

.vs-image {
  margin-top: -0.8rem;
}

.vs-icon {
  width: 40px;
  height: 40px;
}

.border-red,
.border-blue {
  padding-top: 1px;
}

.border-red {
  border-top: 5px solid #f72210;
}

.border-blue {
  border-top: 5px solid rgb(0, 102, 255);
}

.n-icon {
  width: 40px;
  height: 40px;
}

.magazine-img-container {
  width: 100%;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
}

.magazine-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-fit {
  object-fit: cover;
}

.bg-grey {
  background-color: rgb(233, 233, 233);
}

.footer-logo {
  width: 160px;
}

.ad-container {
  height: 400px;
}

.font-small {
  font-size: 0.8rem;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }
  .ad-container {
    height: auto;
  }
  .font-small {
    font-size: 10px;
  }
}
