* {
  margin-bottom: 0;
  padding: 0;
}

.container-xl {
  max-width: 1350px !important;
}

.bg-red {
  background-color: #f72210;
}

.navbar-middle {
  width: 140px;
  padding: 0.2rem;
  color: white;
}

.navbar-middle > svg {
  fill: white;
}

.text-danger {
  color: #f72210;
}

.btn-red {
  font-weight: bold;
  background-color: #f72210;
}

.right-0 {
  margin: 0;
  right: 0;
  height: 100%;
  padding: 1.6rem;
}

.fa-bars {
  font-size: 2rem;
}

.vs-container {
  width: 95px;
  height: 95px;
  flex-shrink: 0;
}

.vs-image {
  margin-top: -0.8rem;
}

.vs-icon {
  width: 40px;
  height: 40px;
}

.border-red,
.border-blue {
  padding-top: 1px;
}

.border-red {
  border-top: 5px solid #f72210;
}

.border-blue {
  border-top: 5px solid rgb(0, 102, 255);
}
